In [4]:
import configparser
import psycopg2


import psycopg2

config = configparser.ConfigParser()
config.read('dwh.cfg')

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
print(conn)
cur = conn.cursor()
print(cur)

<connection object at 0x10625af80; dsn: 'user=awsuser password=xxx dbname=dev host=redshift-cluster-1.c2ok0zatzd4q.us-east-1.redshift.amazonaws.com port=5439', closed: 0>
<cursor object at 0x10624fb50; closed: 0>

In [5]:
query = """
SELECT * FROM stl_load_errors;
"""

cur.execute(query)
conn.commit()

row = cur.fetchone()
while row:
    print(row)
    print()
    row = cur.fetchone()

(100, 0, 127361, datetime.datetime(2023, 6, 14, 9, 25, 7, 846748), 1073873003, 600233, 's3://udacity-dend/log_data/2018/11/2018-11-01-events.json                                                                                                                                                                                                       ', 1, 'location                                                                                                                       ', 'varchar   ', '15        ', 0, '{"artist":null,"auth":"Logged In","firstName":"Walter","gender":"M","itemInSession":0,"lastName":"Frye","length":null,"level":"free","location":"San Francisco-Oakland-Hayward, CA","method":"GET","page":"Home","registration":1540919166796.0,"sessionId":38,"song":null,"status":200,"ts":1541105830796,"userAgent":"\\\\"Mozilla\\\\/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit\\\\/537.36 (KHTML, like Gecko) Chrome\\\\/36.0.1985.143 Safari\\\\/537.36\\\\"","userId":"39"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ', '                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ', 1204, 'String length exceeds DDL length                                                                    ', 0, 0, 0)

(100, 0, 119153, datetime.datetime(2023, 6, 13, 14, 22, 2, 791113), 1073897878, 401181, 's3://udacity-dend/log_data/2018/11/2018-11-01-events.json                                                                                                                                                                                                       ', 1, '                                                                                                                               ', '          ', '          ', 0, '1541105830796                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ', '                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ', 1216, 'Overflow, Column type: Integer                                                                      ', 0, 0, 0)

(100, 1, 119153, datetime.datetime(2023, 6, 13, 14, 22, 2, 788430), 1073897878, 401181, 's3://udacity-dend/log_data/2018/11/2018-11-02-events.json                                                                                                                                                                                                       ', 1, '                                                                                                                               ', '          ', '          ', 0, '1541121934796                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ', '                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ', 1216, 'Overflow, Column type: Integer                                                                      ', 0, 0, 0)

(100, 1, 119164, datetime.datetime(2023, 6, 13, 14, 41, 4, 725722), 1073971589, 401472, 's3://udacity-dend/log_data/2018/11/2018-11-01-events.json                                                                                                                                                                                                       ', 1, '                                                                                                                               ', '          ', '          ', 0, '1541105830796                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ', '                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ', 1216, 'Overflow, Column type: Integer                                                                      ', 0, 0, 0)

(100, 0, 119164, datetime.datetime(2023, 6, 13, 14, 41, 4, 721736), 1073971589, 401472, 's3://udacity-dend/log_data/2018/11/2018-11-02-events.json                                                                                                                                                                                                       ', 1, '                                                                                                                               ', '          ', '          ', 0, '1541121934796                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ', '                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ', 1216, 'Overflow, Column type: Integer                                                                      ', 0, 0, 0)

(100, 0, 119170, datetime.datetime(2023, 6, 13, 14, 46, 1, 234808), 1073881486, 401559, 's3://udacity-dend/log_data/2018/11/2018-11-01-events.json                                                                                                                                                                                                       ', 1, 'location                                                                                                                       ', 'varchar   ', '15        ', 0, '{"artist":null,"auth":"Logged In","firstName":"Walter","gender":"M","itemInSession":0,"lastName":"Frye","length":null,"level":"free","location":"San Francisco-Oakland-Hayward, CA","method":"GET","page":"Home","registration":1540919166796.0,"sessionId":38,"song":null,"status":200,"ts":1541105830796,"userAgent":"\\\\"Mozilla\\\\/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit\\\\/537.36 (KHTML, like Gecko) Chrome\\\\/36.0.1985.143 Safari\\\\/537.36\\\\"","userId":"39"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ', '                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ', 1204, 'String length exceeds DDL length                                                                    ', 0, 0, 0)

In [6]:
conn.close()